@charset "EUC-KR";
.hiddenBackGround {
    z-index: 1;
    width: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.7;
    display: none;
}
/* 상품문의 */
input.deleteCommentBTN {
    background: url(/picksell/resources/img/cancel2.png) 50% 50% no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    border: none;
    line-height: 40px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
}
.hiddenCommentForm {
    z-index: 10;
    display: none;
    width: 60%;
    position: fixed;
    top: 25%;
    left: 20%;
}
.hiddenReCommentForm {
    z-index: 10;
    display: none;
    width: 60%;
    position: fixed;
    top: 25%;
    left: 20%;
}
span.cancel {
    width: 100%;
    display: block;
    text-align: right;
}
.formBody {
    background-color: #e0e0e0;
    padding: 10px;
    height: 70px;
}
.comment_content {
    width: 85%;
    height: 70px;
    padding: 9px;
    box-sizing: border-box;
    float: left;
    resize: none;
}
.commentSUBMIT {
    width: 15%;
    height: 70px;
    float: left;
    border: none;
    color: white;
    background-color: #7151fc;
    font-size: 15px;
}
.hiddenPurchaseListForm {
	z-index: 10;
    display: none;
    width: 40%;
    background-color: white;
    position: fixed;
    top: 10%;
    left: 30%;
    border: 3px solid #7151fc;
}
.formTop {
    height: 40px;
}
a.closeAnchor {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/picksell/resources/img/cancel_white.png) 50% 50% no-repeat;
    float: right;
}
span.commentWriter {
    color: #666;
    font-size: 15px;
    margin-left: 10px;
}
span.commentRegdate {
    float: right;
    color: #666;
    margin-right: 20px;
    font-size: 13px;
}
span.commentOfSeller {
    background-color: #999;
    color: white;
    padding: 3px;
    font-size: 13px;
    margin-left: 10px;
}
.commentContentWrap {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
}
input.replyBTN {
    border: 1px solid #7151fc;
    color: #7151fc;
    background-color: white;
    margin-left: 48px;
    font-size: 13px;
    /* padding: 5px; */
    /* width: 90px; */
}
.commenttWrapper {
    padding: 10px;
}
.commenttWrapper.repleWrap {
    background-color: #eaeef0;
    width: 90%;
    margin-left: 10%;
    box-sizing: border-box;
}


/* 구매신청리스트 */
span.purchaseHeaderTEXT {
    display: block;
    color: #23231f;
    background-color: #f2f2f4;
    padding: 8px;
    font-size: 16px;
}

span.purchaseHeaderSubTEXT {
    display: block;
    color: #888888;
    font-size: 13px;
    padding: 10px;
}

table.purchaseTABLE {
    width: 100%;
    margin-top: 10px;
}

td.purchaseHeader {
    text-align: center;
    border-top: 2px solid #e3e3e6;
    color: #464646;
    padding: 8px;
    background-color: #f3f2f2;
}

td.purchaseContent {
    text-align: center;
    padding: 10px;
}

input.purchaseXbtn {
    border: 1px solid #7151fc;
    color: #7151fc;
    background-color: white;
    padding: 7px;
    width: 70px;
}

input.purchaseObtn {
    border: none;
    color: white;
    background-color: #7151fc;
    padding: 7px;
    width: 70px;
}
span.purchaseStatusTEXT {
    font-size: 15px;
    color: #7151fc;
    display: inline-block;
    width: 90px;
}


/* 상품시작 */
a.link_wholeList {
    font-size: 19px;
}
a.link_wholeList:hover{
	text-decoration: underline;
}

span.letterGT {
    font-size: 20px;
    color: #7f7f7f;
    font-weight: 600;
    margin: 0 8px;
}

a.link_productList {
    font-size: 18px;
}
a.link_productList:hover{
	text-decoration: underline;
}
.seller_info {
    display: inline-block;
    width: 40%;
    margin-left: 50px;
    min-height: 350px;
    padding: 5% 0;
    box-sizing: border-box;
}
img.sellerProfileImg {
    width: 100%;
}
.categoryMoveWrap {
    margin-bottom: 80px;
    margin-top: 30px;
}
.product_info {
    float: right;
    width: 50%;
}
span.sellerId {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    padding-bottom: 30px;
}
span.product_info_subject {
    display: block;
    font-size: 30px;
    margin-top: 35px;
}

span.product_info_number {
    color: #999999;
    font-size: 16px;
    margin-top: 5px;
    display: block;
}

span.product_info_priceTEXT {
    color: #999;
    font-size: 15px;
}

span#currentPriceText {
    font-size: 35px;
    font-weight: 600;
    margin-left: 20px;
}

.button_wrap {
    width: 100%;
    text-align: center;
}

div#basketWrap {
    display: inline-block;
    width: 48%;
}
input.basket_disabled {
    width: 100%;
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
    background-color: #dbdbdb;
}

div#purchaseWrap {
    display: inline-block;
    width: 48%;
}

input.purchase_confirm {
    width: 100%;
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
    background-color: #7151fc;
}
p.product_phr {
    display: block;
    height: 100px;
    border-bottom: 1px solid #ececec;
}
span.product_info_wonTEXT {
    color: #666;
    font-size: 20px;
}

input.basket_go {
    width: 100%;
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
    background-color: #dbdbdb;
}

input.purchase_go {
    width: 100%;
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
    background-color: #7151fc;
}

input.basket_abled {
    width: 100%;
    border: 1px solid #7151fc;
    color: #7151fc;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
    background-color: white;
}
.product_info_quanWrap {
    height: 80px;
}

span.product_info_quanTEXT {
    color: #999;
    font-size: 15px;
    margin-right: 30px;
    float: left;
    line-height: 30px;
}
input.subQuanBtn {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 33px;
    background: url(/picksell/resources/img/sub.png) 50% 50% no-repeat;
    background-size: 20px;
    border: 1px solid #ececec;
}
span#currentOrderView {
    float: left;
    font-size: 22px;
    color: #726e6e;
    margin: 0 20px;
}
input.addQuanBtn {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 33px;
    background: url(/picksell/resources/img/add.png) 50% 50% no-repeat;
    background-size: 20px;
    border: 1px solid #ececec;
}
.product_detail {
    margin-top: 100px;
}
.product_content {
    min-height: 400px;
}
span.product_contentTEXT {
    display: inline-block;
    color: #333;
    font-size: 20px;
    margin-top: 70px;
}
.commentBTN {
    float: right;
    margin-top: 70px;
    border: none;
    color: white;
    background-color: #7151fc;
    padding: 10px;
    width: 160px;
    font-size: 15px;
} 

.commentListWrap {
    margin-top: 30px;
    border-top: 2px solid #dedede;
}
span.hasNoCommentTEXT {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #999;
    margin-top: 35px;
}
span.commentSumTEXT {
    color: #7151fc;
    font-size: 20px;
    margin-left: 10px;
}
span.deliveryTEXT {
    display: block;
    margin-left: 15px;
    margin-top: 15px;
    color: #333;
    font-size: 14px;
}
input.purchase_cancel {
    width: 100%;
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
    background-color: #7151fc;
}

input.purchase_apply {
    width: 100%;
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    font-size: 15px;
    background-color: #7151fc;
}
/*판매중입니다 레이아웃*/
.status_on {
    width: 100%;
    position: absolute;
    height: 60%;
    background-color: #ffffff;
    opacity: 0.8;
    display: none;
}
span.status_onTEXT {
    font-size: 30px;
    display: inline-block;
    margin-top: 25%;
    margin-left: 10%;
    font-weight: 600;
    color: #840000;
}
/* 신고 */
.hiddenSingoForm {
	z-index: 10;
	display: none;
    width: 40%; 
    background-color: white;
    position: fixed;
    top: 10%;
    left: 30%;
    border: 3px solid #7151fc;
}
span.singoHeaderTEXT {
    color: #23231f;
    display: block;
    background-color: #f2f2f4;
    padding: 10px;
    font-size: 18px;
}
span.singoSubHeaderTEXT {
    display: block;
    color: #8f918f;
    font-size: 14px;
    padding: 10px;
}
td.singoHeadTD {
    background-color: #f2f2f4;
    padding: 10px;
    width: 20%;
    border-top: 1px solid #d6d6d6;
}
td.singoBodyTD {
    padding: 10px;
    border-top: 1px solid #d6d6d6;
}
td.singoReasonTD {
    background-color: #f2f2f4;
    padding: 10px;
    border-top: 1px solid #d6d6d6;
}
td.singoTextareaTD {
    border-top: 1px solid #d6d6d6;
}
textarea.singoTA {
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 15px;
    color: #666;
    padding: 9px;
    box-sizing: border-box;
    border: none;
}
table.singoTABLE {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}


.singoSUBMIT{
    display: block;
    border: 1px solid #7151fc;
    
    background-color: white;
    color: #7151fc;
    padding: 10px;
    font-size: 15px;
    width: 30%;
    margin: 40px auto;
}

input#singoOPEN {
    background: url(/picksell/resources/img/singoBtnBack.png) 50% 30% no-repeat;
    border: 1px solid #dedede;
    color: #666;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 85px;
    outline: none;
    padding-top: 20px;
}

/* 블라인드처리폼 */
.blindProcessBackGround {
	display: none;
    position: absolute;
    background-color: white;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.blindProcessForm {
	display: none;
    position: fixed;
    width: 80%;
    margin-top: 5%;
}

span.blindTEXT {
    font-size: 35px;
    display: block;
    color: #999;
    text-align: center;
}

input.historyBTN {
    display: block;
    width: 25%;
    margin: 0 auto;
    padding: 15px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #999;
    margin-top: 30px;
    color: #999;
}